.App {
  text-align: center;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #34495e;
  color: #fff;
}

.comics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 38px;
}

.image-container {
  display: flex; 
  width: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  transition: transform .2s; /* zoom on hover */
}

.comics img {
  object-fit: contain;
  width: 100%;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Loading icon */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Loading icon end */